.activities-page{
    color:black;
    margin-top: 200px; /* Adjust the value as needed */
}

.activities-page h1 {
    margin-top: 20px; /* Adjust the value as needed */
}

.activities-page h2 {
    margin-top: 10px; /* Adjust the value as needed */
}