/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Global Styles */
body {
    font-family: Arial, sans-serif;
    height: 100vh;
    background: #f4f4f4 url("/public/background/create-itinerary.png") no-repeat center center scroll;
    background-size: cover;
    overflow: auto;
}

.create-itinerary-wrapper {
    margin-top: 700px; /* Adjusted margin-top */
    margin-bottom: 100px; /* Adjusted margin-bottom */
    width: 100%;
    height: 100vh; /* Set the height to fill the viewport */
    overflow-y: auto;
}

.create-itinerary {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.create-itinerary h1,
.activities h2,
.current-activities h2 {
    color: #333;
    text-align: center;
}

.left-section {
    width: 45%;
}

.right-section {
    width: 50%;
}

.name-date-container,
.location-select,
.filters,
.activity-details,
.photo-gallery-container,
.map-container {
    margin-bottom: 20px;
}

.name-date-container input[type="text"],
.name-date-container input[type="date"],
.location-select select,
.filters select,
.activity-details input[type="time"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.name-date-container button,
.activity-details button {
    width: 100%;
    padding: 10px;
    background-color: #5C6BC0;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.location-select label,
.filters label {
    display: block;
    margin-bottom: 10px;
}

.filters {
    clear: both;
}

.filters h2 {
    color: #333;
    margin-bottom: 20px;
}

.filters label {
    display: inline-block;
    width: 48%;
    margin-bottom: 10px;
}

.filters input[type="checkbox"] {
    margin-right: 5px;
}

.photo-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.photo-gallery img {
    width: calc(100% / 3 - 10px);
    margin-bottom: 10px;
    max-width: 100%; /* Adjusted max-width for responsive images */
}

.map-container {
    width: 90%; /* Adjust the width as needed */
    height: 400px;
    margin-right: auto; /* Auto margin on the right to center the map */
    margin-left: auto; /* Auto margin on the left to center the map */
}

.button-test {
    margin-top: 10px; /* Added margin-top for spacing */
}

/* Adjustments for better layout */

.activities {
    max-height: calc(100vh - 180px); /* Adjusted max-height to fit remaining space */
    overflow-y: auto; /* Added overflow-y to enable vertical scrolling */
}

.current-activities {
    max-height: calc(100vh - 180px); /* Adjusted max-height to fit remaining space */
    overflow-y: auto; /* Added overflow-y to enable vertical scrolling */
}

.activity-details {
    margin-top: 10px; /* Added margin-top to separate details from activity list */
}
